body {
  margin: 0;
  background: #f4f6f9;
  font-family: "Segoe UI", sans-serif;
}

/* HEADER */
.header {
  background: #fff;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.header h2 {
  margin: 0;
}

.header-actions a {
  margin-left: 15px;
  text-decoration: none;
  font-weight: 600;
  color: #0d6efd;
}

/* SUCCESS */
.success-box {
  background: #d1e7dd;
  color: #0f5132;
  padding: 15px 25px;
  margin: 20px;
  border-radius: 10px;
}

/* CONTENT */
.container {
  padding: 30px;
}

table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

th,
td {
  padding: 14px 16px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

th {
  background: #f8f9fa;
}

.actions a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px;
}

.edit {
  color: #0d6efd;
}

.delete {
  color: #dc3545;
}

.empty {
  text-align: center;
  padding: 30px;
  color: #6c757d;
}

.success-box {
  position: relative;
  background: #d1e7dd;
  color: #0f5132;
  padding: 15px 40px 15px 20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 15px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #0f5132;
}

.actions a {
  margin-right: 8px;
  text-decoration: none;
  font-size: 18px;
}

.actions a:hover {
  transform: scale(1.2);
}
